<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<meta property="og:title" content="{{page.title}}" />
<meta property="og:type" content="blog" />
<meta property="og:description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
<meta property="og:url" content="{{canonical}}" />
{% if page.ogimage %}
<meta property="og:image" content="{{page.ogimage}}"/>
{% endif %}
<meta property="og:site_name" content="{{site.title}}" />
